---
import BaseLayout from "../layouts/BaseLayout.astro";
import Hero from "../components/Hero.astro";
import FeatureList from "../components/FeatureList.astro";
import CommunityGallery from "../components/CommunityGallery.astro";
import CtaBanner from "../components/CtaBanner.astro";
import Footer from "../components/Footer.astro";

const features = [
    {
        title: "Gjennomarbeidede oppskrifter",
        text: "Oppskriftene er laget for å være fine å se på, men også gode å bruke. Dette er plagg for ekte hundeliv.",
    },
    {
        title: "Passform med personlighet",
        text: "Her handler det ikke bare om å holde hunden varm, men om å lage noe som faktisk ser skikkelig fint ut også.",
    },
    {
        title: "Et levende fellesskap",
        text: "Facebook-gruppen gjør boken større enn bare en bok. Her deles bilder, erfaringer, tips og masse strikkeglede.",
    },
];

const galleryItems = [
    {
        src: "/dog1.jpg",
        alt: "Hund i grønn strikkegenser ute i naturen",
        featured: true,
    },
    {
        src: "/dog2.jpg",
        alt: "Liten hund i strikket genser",
    },
    {
        src: "/dog3.jpg",
        alt: "Hund med mønstret genser",
    },
    {
        src: "/dog5.jpg",
        alt: "Hund i lys genser",
    },
];
---

<BaseLayout title='HOTDOGG Hundestrikk'>
    <main>
        <Hero
            eyebrow='Strikkeoppskrifter til hund'
            title='Varme gensere for kalde hunder'
            highlight='gensere'
            text='En sjarmerende og gjennomført bok for deg som vil strikke plagg med personlighet, passform og varme.'
            imageSrc='/book-cover.jpg'
            imageAlt='Forsiden på HOTDOGG Hundestrikk'
            primaryHref='https://ebok.no/eboker/hobby-og-fritid/hotdog-elin-takvam/'
            primaryLabel='Kjøp e-boken'
            primaryNewTab={true}
            secondaryHref='https://www.facebook.com/groups/653163954334182'
            secondaryLabel='Bli med i Facebook-gruppen'
            secondaryNewTab={true}
        />

        <FeatureList
            eyebrow='Hvorfor folk elsker HOTDOGG'
            title='Mer enn bare oppskrifter'
            text='Dette handler ikke bare om masker og mønster. Det handler om å lage noe varmt, morsomt og personlig til en bestevenn med pels og hovedrolleenergi.'
            items={features}
        />

        <CommunityGallery
            eyebrow='Fra fellesskapet'
            title='Delt av strikkeglade hundemennesker'
            text='I Facebook-gruppen deles gensere, erfaringer, spørsmål og bilder av hunder som ser ut som de vet at de er hovedpersonen. Det gjør hele HOTDOGG-universet levende.'
            items={galleryItems}
            ctaHref='https://www.facebook.com/groups/653163954334182'
            ctaLabel='Bli med i Facebook-gruppa'
        />

        <CtaBanner
            eyebrow='Ny bok i høst!'
            title='Bok nummer to kommer på forlag'
            text='Det som startet som en populær e-bok, vokser nå videre til en ny bokutgivelse på forlag. Kjøp den første boken i dag, og bli med i fellesskapet for å følge reisen videre.'
            primaryHref='https://ebok.no/eboker/hobby-og-fritid/hotdog-elin-takvam/'
            primaryLabel='Kjøp e-boken'
            secondaryHref='https://www.facebook.com/groups/653163954334182'
            secondaryLabel='Følg lanseringen i gruppen'
        />
    </main>
    <Footer
        brand='HOTDOGG Hundestrikk'
        text='En varm og gjennomført bok for strikkeglade hundemennesker.'
        shopHref='https://ebok.no/eboker/hobby-og-fritid/hotdog-elin-takvam/'
        facebookHref='https://www.facebook.com/groups/653163954334182'
    />
</BaseLayout>
